// ng-deep needed for editing body
::ng-deep body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: Helvetica;
}
.container{
    position: relative;
    max-width: 720px;
    padding: 18px 6%;
}
