// ng-deep needed for editing body
::ng-deep body {
    background: #121212;
    color: #e8e8e8;
    font-family: Helvetica, sans-serif;
    margin: 0 0 120px;
}
.container{
    position: relative;
    max-width: 720px;
    padding: 0 6%;
}
.children-inline-block h1, .children-inline-block .material-icons{
    display: inline-block;
}
.children-inline-block .material-icons {
    font-size: 30px;
    margin-right: 6px;
}
h1{
    padding-top: 12px;
}
a {
    color: #e8e8e8;
}
::ng-deep .chart-legend .legend-label span:hover {
    color: #D7303E !important;
}

.button {
    text-align: center;
    padding: 12px 24px;
    font-weight: 500;
    border-radius: 6px;
    background: #D7303E;
}

// Header for all pages and login
.headerBackground {
    background: #1C1C1C;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#logo {
    width: 90px;
}
#logo div:first-child {
    margin-right: 6px;
    text-decoration: none;
}

#logoText {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
