<app-header></app-header>
<div class="container">
    <div class="children-inline-block">
        <div class="material-icons" routerLink="/subscriptions">keyboard_backspace</div>
            <h1 *ngIf="showEdit">Edit</h1>
            <h1 *ngIf="!showEdit">Add</h1>
<!--        <h1>Edit {{subscription.service.name}} subscription</h1>-->
    </div>

<!--<div [ngClass]="{'visible' : showEdit, 'hidden': !showEdit}" class="row-spacing text-login-error">-->
    <div class="row-spacing text-login-error">
        <form [formGroup]="form" class="text-spacing">
            <div id="service-dropdown">
                <div class="row-spacing" *ngIf="showEdit">
                    <label  for="edit_service">Service</label>
                    <select id="edit_service" [formControlName]="'service'" >
                            <option value="{{subscription.service.id}}" selected>{{subscription.service.name}}</option>
                            <option *ngFor="let service of services" value="{{service.id}}">{{service.name}}</option>
                    </select>
                </div>

                <div class="row-spacing" *ngIf="!showEdit">
                    <label for="add_service">Service</label>
                    <select id="add_service" [formControlName]="'service'" >
                        <option *ngFor="let service of services" value="{{service.id}}">{{service.name}}</option>
                    </select>
                </div>
            </div>

            <div class="row-spacing">
                <label for="date">Date</label>
                <input type="date" id="date" [formControlName]="'dueDate'">
            </div>

            <div class="row-spacing">
                <label for="cost">Price €</label>
                <input type="number" step="any" min="0" id="cost" [formControlName]="'cost'" placeholder="7,99">
<!--                <input *ngIf="showEdit" type="number" step="any" min="0" [formControlName]="'cost'" value="{{ this.subscription.cost }}">-->
            </div>

            <div class="row-spacing">
                <label for="monthlyPayment">Frequency</label>
                <label class="switch">
                    <input class="switch-input" type="checkbox" id="monthlyPayment" [formControlName]="'monthlyPayment'">
                    <span class="switch-label" data-on="Monthly" data-off="Yearly"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>

            <div class="row-spacing">
                <label for="paymentMethod">Payment</label>
                <input type="text" id="paymentMethod" [formControlName]="'paymentMethod'" placeholder="Paypal">
            </div>

            <div class="row-spacing">
                <label for="automaticPayment">Type</label>
                <label class="switch">
                    <input class="switch-input" type="checkbox" id="automaticPayment" [formControlName]="'automaticPayment'">
                    <span class="switch-label" data-on="Automatic" data-off="Manual"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>

            <button *ngIf="!showEdit" class="button" (click)="submitAdd()" [disabled]="form.invalid">Add</button>
            <button *ngIf="showEdit" class="button" (click)="submitEdit()" [disabled]="form.invalid">Save</button>
        </form>
    </div>
</div>
