::ng-deep .legend-title {
    margin-top: 30px;
    width: 80px;
}
::ng-deep .chart-legend .legend-labels {
    width: auto !important;
}
::ng-deep .bar-chart{
    width: 700px !important;
}
.general-information {
    margin-bottom: 30px;
}
.goal-edit {
    display: flex;
    align-items: stretch;
}
.goal-edit div {
    margin-bottom: 12px;
}
.goal-edit div:first-child {
    line-height: 26px;
    margin-right: 12px;
}
