// General
.general-information {
    margin-bottom: 30px;
}
.text-spacing {
    margin-bottom: 12px;
}

// Chart
::ng-deep .legend-title {
    margin-top: 30px;
    width: 80px;
}
::ng-deep .chart-legend .legend-labels {
    width: auto !important;
}
::ng-deep .bar-chart{
    width: 700px !important;
}
