// Header
#logo {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
// Content
.container-login{
  position: relative;
  max-width: 330px;
  padding: 30px;
  margin: 30px auto 0 auto;
}
h1 {
  text-align: center;
  padding-bottom: 24px;
}
.row-spacing label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 6px;
}
.row-spacing input {
  width: 100%;
  padding: 9px;
  color: #e8e8e8;
  background: #4d4d4d;
  border: none;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto 42px auto;
  color: #e8e8e8;
  font-size: 14px;
  border: none;
}
.button:disabled {
  background: grey;
}
#vertical-line {
  width: 100%;
  border: solid 1px #4d4d4d;
  margin-bottom: 18px;
}
#footer{
  display: flex;
  justify-content: space-between;
}
#footer a {
  color: darkgrey;
}
.text-login-error {
  color: #D7303E;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

// Mobile
@media (max-width: 420px) {
  .container-login{
    form {
      margin: 42px 12px;
    }
    .row-spacing {
      margin: 18px 0;
    }
  }
}

// Desktop
@media (min-width: 421px) {
  .container-login{
    background: #1c1c1c;
    margin-top: 48px;
  }
  form {
    margin: 72px 0 30px 0;
  }
  .row-spacing {
    margin: 24px 0;
  }
  #footer {
    margin-bottom: 30px;
  }
}
