<div class="headerBackground"></div>
<div id="logo">
    <div class="material-icons">assignment</div>
    <div id="logoText">FoxSub</div>
</div>
<div class="container-login">
    <h1>Welcome!</h1>

    <form [formGroup]="form">
        <div class="row-spacing">
            <label for="email">Email</label>
            <input type="text" id="email" [formControlName]="'email'" placeholder="Insert your email">
        </div>
        <div class="row-spacing">
            <label for="password">Password</label>
            <input type="password" id="password" [formControlName]="'password'" placeholder="Insert your password">
        </div>
        <div [ngClass]="{'visible' : showLoginError, 'hidden': !showLoginError}" class="row-spacing text-login-error">Username or password is invalid. Try again.</div>

        <button class="button" (click)="submit()" [disabled]="form.invalid">Sign In</button>

    </form>

    <div id="vertical-line"></div>

    <div id="footer">
        <!-- TODO optional: implement sign up functionality -->
        <a>Sign Up</a>
        <!-- TODO optional: implement forgot password functionality -->
        <a>Forgot Password</a>
    </div>
</div>
