<div class="row fieldBackground">
    <div class="col-xs-11">
        <div class="text">{{subscription.service.name}}</div>
        <div class="text">{{subscription.dueDate}}</div>
        <div class="text">{{subscription.cost}} Euro</div>
        <div *ngIf="isExpanded">
            <div class="text" *ngIf="subscription.monthlyPayment">Monthly payment</div>
            <div class="text" *ngIf="!subscription.monthlyPayment">Yearly payment</div>
            <div class="text">{{subscription.paymentMethod}}</div>
            <div class="text" *ngIf="subscription.automaticPayment">Automatic renewal</div>
            <div class="text" *ngIf="!subscription.automaticPayment">Manual renewal</div>
        </div>
    </div>
    <div class="col-xs-1 distributeArrowButton">
        <div class="material-icons arrow-expansion"  (click)="clickDetails()">keyboard_arrow_down</div>
        <div class="material-icons button-edit" routerLink="edit">create</div>
    </div>
</div>
