@import '~material-icons/iconfont/material-icons.scss';

// Mobile
@media (max-width: 575px) {

}

// Desktop
@media (min-width: 576px) {
  max-width: 900px;
}

#headerBg {
  height: 90px;
  background: #1D1D1D;
}

