<app-header></app-header>
<div class="container">
    <p>{{subscriptions.length}} subscriptions</p>
    <div class="subscription" *ngFor="let subscription of subscriptions">
        <div id="details" class="material-icons"  (click)="clickDetails()">keyboard_arrow_down</div>
        <div>
            <div>{{subscription.service.name}}</div>
            <div>{{subscription.dueDate}}</div>
            <div>{{subscription.cost}} Euro</div>
        </div>
        <subscription-list-expansion *ngIf="displayDetails" [subscriptions]="subscriptions"></subscription-list-expansion>
    </div>
</div>
