.subscription {
  padding-top: 12px;
}
#button-add-subscription {
  float: right;
  margin-top: 18px;
  padding: 12px 24px;
  font-weight: 500;
  border-radius: 2px;
  background: #D7303E;
  color: white;
}
