// General
.subscription {
  padding-top: 12px;
}

// Mobile
@media (max-width: 575px) {
}

// Desktop
@media (min-width: 576px) {
  #top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 .button-add-subscription {
    display: inline-block;
  }
}

